{% extends "base.html" %}

{% block content %}
<ul>
    {% for page in paginator.pages %}
    <li>
        <section class="box">
            <a href="{{ page.permalink }}">
                <h4 class="title is-4">
                    {{ page.title }}
                </h4>
            </a>
            <p class="is-medium">
                {{ page.summary | safe }}
            <div class="read-more">
                <a href="{{ page.permalink }}">Read more...</a>
            </div>
            </p>
        </section>
    </li>
    {% endfor %}
</ul>
{% endblock content %}